.app_header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: aqua;
}
.header_nav{
    display:flex;
}
.header_nav a{
    color:blueviolet;
    background-color: pink;
}
.dropdown_toogle{

}
.dropdown{

}
.dropdown_menu{
    
}