.table{
    /* border: 1px solid #C42020; */
    border-collapse: collapse;

}
.table td{
    border-top: 1px solid #C42020;
    border-bottom: 1px solid #C42020;
    padding: 1rem;
}
.table th{
    row-gap: 1rem;
}
.th.fixed{
    top: 0;
    z-index: 2;
    position: sticky;

}
.div_tabela{
    overflow-y: scroll;
    display:block;
    max-height: 750px;
    border: 1px solid #C42020
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
