.table{
    /* border: 1px solid #C42020; */
    border-collapse: collapse;

}
.table td{
    border-top: 1px solid #C42020;
    border-bottom: 1px solid #C42020;
    padding: 1rem;
}
.table th{
    row-gap: 1rem;
    padding : 1rem;
    background-color: #C42020;
    color: white;
    border-right: 1px solid white;
}
.th.fixed{
    top: 0;
    z-index: 2;
    position: sticky;

}
.div_tabela{
    overflow-y: scroll;
    display:block;
    max-height: 750px;
    border: 1px solid #C42020
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emptyRow{
    border-right: 1px solid transparent;
}
.title{
     font-size: 2rem;
    font-weight: 600;
    color:#8b2c2c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
}